# Deployed testnet contract: CCZ6AE75C27DMB3SOIHK7WZSBUG3NQPVLHSVEBQ2FSAEVGRJ5TXAZWCX
NEXT_PUBLIC_CONTRACT_ID=

# Native XLM token address on Stellar testnet
NEXT_PUBLIC_NATIVE_TOKEN=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC

# Network to connect to: "testnet" or "mainnet" (default: testnet)
NEXT_PUBLIC_NETWORK=testnet
